<!-- <section class="hero md:mt-0">
    <div class=" block mt-32 md:mt-12 md:flex items-center justify-center text-center bg-transparent md:h-screen">
        <div class="w-1/2 mx-auto flex items-center justify-center flex-col">
            <p class="text-xl"><em>are you Hungry?</em></p>
            <h1 class="text-3xl md:text-6xl font-bold mb-3">Don't Wait!</h1>
            <a href="/cart"
                class="block text-sm md:text-xl text-center rounded-full py-2 px-3 border-4 bg-gray-200 w-1/2 hover:bg-green-400 hover:text-white">
                Order Now
            </a>
        </div>
        <div class="w-full md:w-3/4">
            <img src="/img/pizza_svg.svg" alt=" ">
        </div>
    </div>
</section> -->

<section class="menu container mx-auto  mt-40" id="Menu">
    <%let i=0%>
       
        <%for(const menu in Menu){%>
            <% var obj=Menu[menu]%>
               
                  <div class="md:flex flex-wrap">
                        <% obj.forEach(item=> { %>
                            <div class=" c0 block h-auto md:h-80  rounded-md md:w-1/6">
                                <img src="/img/<%=item.image%>" alt="" class=":w-60 h-60 block md:w-36 md:h-36 block mb-4 bg-transparent mx-auto">

                                <div class="text-center mr-4 flex items-center justify-center flex-col">
                                    <h2 class="mb-2 text-2xl font-bold">
                                        <%=item.name%>
                                    </h2>

                                    <span class="font-bold text-lg mr-2 mt-4 block">Rs. <%=item.price%>
                                            <span class="font-normal text-sm">*Inc.of all Taxes</span>
                                    </span>

                                    <div class="mt-4 flex items-center justify-center flex-row">


                                        <button data-pizza='<%= JSON.stringify(item)%>' class="removeFromCart  
                                            px-4 py-1 rounded-full font-bold block">
                                            <span>-</span>
                                        </button>
                                        <%let val=item._id.toString()%>
                                            <%if(session.cart){%>
                                                <%if(session.cart.items[val]){%>
                                                    <span class="m-3 individualCart" data-id="<%=item._id%>">
                                                        <%=session.cart.items[val].qty%>
                                                    </span>
                                                    <%}else{%>
                                                        <span class="m-3 individualCart"
                                                            data-id="<%=item._id%>">0</span>
                                                        <%}}else{%>
                                                            <span class="m-3 individualCart"
                                                                data-id="<%=item._id%>">0</span>
                                                            <%}%>

                                                                <button data-pizza='<%= JSON.stringify(item)%>' class="addtocart 
                                    px-4 py-1 rounded-full font-bold block">
                                                                    <span>+</span>
                                                                </button>

                                    </div>
                                </div>

                                <!-- <div class="description m-8 px-2 md:w-1/3">
                                    <h2 class="font-bold text-lg text-black text-center">Description</h2>
                                    <p class="text-white"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                        Maxime accusamus
                                        voluptatem ab,
                                        dolores deserunt atque culpa ipsam numquam aliquid libero?</p>
                                    <h2 class="font-bold text-lg text-black text-center">Ingredients Used:</h2>
                                    <p class="text-white"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                        Maxime accusamus
                                        voluptatem ab,
                                        dolores deserunt atque culpa ipsam numquam aliquid libero?</p>
                                </div> -->
                            </div>
                            <% }) %>
                        </div>
                    
                   
                  
                
                <%}%>
</section>
<!-- 
<section class="visit bg-gray-100 w-full mb-12">
    
    <h1 class="font-bold text-3xl text-center tracking-wider my-3">Visit Us</h1>
    <div class="w-full container mx-auto block md:flex items-center">
        <div class="text-center mx-auto md:w-1/3">
            <h1 class="text-lg md:text-3xl font-bold">Our Stores:</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis nisi, eligendi iste qui quae dolores
            adipisci eaque repellat error.
            <hr> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod debitis culpa eum sequi nemo explicabo facere
            voluptatem vero id molestias.
            <hr>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto harum possimus vitae. Aperiam corporis
            voluptatibus molestiae ipsa, officiis maiores eaque
            <hr>
        </div>

            <img src="/img/location.svg" alt="" class="w-auto md:w-1/3 mx-auto">

    </div>
</section> -->
