<section class="order mt-20 h-full py-11 ">
    <div class="container mx-auto ">
        <h1 class="font-bold text-xl py-4 text-center text-white">All Orders</h1>
        <%if(messages.success){%>
            <div id="successAlert" class="flex items-center px-4 py-3 bg-green-500 text-white 
              ">
                <i class="far fa-check-circle text-xl mr-2"></i>
                <p class="text-lg">
                    <%=messages.success%>
                </p>
            </div>
            <%}%>
    </div>
    <% if(orders.length>0){%>
        <div class=" orders_wrapper py-6">
            <div class=" flex flex-wrap ">
            <%orders.forEach((order)=>{%>
               <%let items=order.items%>
                <%for(let item in items){%>
                    <%if(items.hasOwnProperty(item)) {%>
                    
                        <div class="single mx-2 shadow-xl md:w-2/5 md:mx-auto ">
                            <h2 class="id font-bold text-lg m-2">
                               Order ID- <a href="/order/<%=order._id%>"><%=order._id%></a>
                            </h2>
                            <div class="flex flex-row m-2 space-around">
                                <div class="flex flex-col">
                                    <span class="text-gray-400">
                                        <%=order.createdAt%>
                                    </span>
                                    <h4 class="font-bold text-xl">Ordered On</h4>
                                </div>
                                <div class="flex flex-col">
                                    <span class="text-gray-400">
                                        <%=order.createdAt%>
                                    </span>
                                    <% if(order.status==='delivered'){%>
                                    <h4 class="font-bold text-xl">Delivered On </h4>
                                    <%}else{%>
                                        <h4 class="font-bold text-xl">To be Delivered By </h4>
                                        <%}%>
                                </div>
                            </div>
                            <div class="sub_container flex flex-row items-center space-around text-center ">
                                <img width="80px" src="/img/<%=items[item].item.image%>" alt="">
                                <div class="flex flex-col mx-auto">
                                    <h3 class="text-black font-bold text-lg">
                                        <%=items[item].item.name%>
                                    </h3>
                                    <div>
                                        <span class="text-gray-400">
                                            Size-<%=items[item].item.size%>,
                                        </span>
                                        <span class="text-gray-400">
                                           Qty-<%=items[item].qty%>
                                        </span>
                                    </div>
                                    <h3 class="text-black font-bold text-lg">AddOns</h3>
                                    <div>
                                        <% let addonPrice=0%>
                                        <% if(items[item].addons){%>
                                            <% let addons=items[item].addons; for(let addon in addons){ %>
                                               <span class="text-black "><%=addons[addon].name%></span>
                                               <%addonPrice=addonPrice+addons[addon].price%>
                                           <% } }else{ %>
                                            <span class="text-black font-bold text-lg">-</span>
                                            <%}%>
                                    </div>
                                    
                                </div>
                                <div class=" price border-2  py-6 px-4 ">
                                    <h3 class="text-center text-2xl">₹<%=items[item].item.price + addonPrice%>.00</h3>
                                </div>
                            </div>
                            <div class="flex items-center justify-between">
                               <%if(order.status==='delivered'){%>
                                <button class="Completed px-4 py-2 text-white rounded-md pointer-events-none m-2"><%=order.status%></button>
                                <%}else{%>
                                <button class="notCompleted px-4 py-2 text-white rounded-md pointer-events-none m-2"><%=order.status%></button>
                                <%}%>
                                <h4 class="paymentId font-bold">PaymentID-<%=order.paymentId%></h4>
                            </div>
                        </div>
                  
                    <%}} %>
                <%})%>
            </div>
            </div>
        <%}else{%>
            <h1 class="font-bold text-center text-2xl">No orders yet</h1>
            <%}%>
</section>